
<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Megarden点位订货制单</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<style>
			
		</style>
	</head>
	<a href="{:url('index/order/index')}">制单页</a><br>
	<a href="{:url('index/order/add')}">库存页</a><br>
	<a href="{:url('index/order/warehouse')}">仓库页</a><br>
	<a href="{:url('index/order/order')}">确认订单页</a><br>
	<body>
		<table class="table" border="1" cellspacing="0" cellpadding="0" width="80%">
			<caption style="font-size: 24px;">待确认订单</caption>
			<tr>
				<th>订单点位</th>
				<th>订单内容</th>
				<th>订单状态</th>
				<th>生成时间</th>
				<th>操作</th>
			</tr>
			{foreach $order as $k=>$v} 
			<tr>
				<td>{$v.dev_name}</td>
				<td>{$v.order_content}</td>
				<td>
					<?php 
						if($v['order_status']==0){
							echo "待处理";
						}else{
							echo "已处理";
						}
					?>
				</td>
				<td>{$v.create_time}</td>
				<td>
					<?php if($v['order_status']==0){ ?>				
					<button onclick="sureOut(this)">确认出库</button>
					<input type="hidden" name="warehouse_order_id" value="{$v.warehouse_order_id}">
					<?php } ?>
				</td>
			</tr>	
			{/foreach}
		</table>
	</body>
</html>
<script>
    function sureOut(that){
    	var warehouse_order_id = $(that).next().val();
        $.ajax({
			url: "{:url('index/order/sureOut')}",
			data:{
				warehouse_order_id: warehouse_order_id,
			},
			dataType: "json",
			success: function (res){
				if(res == 1){
					alert("确认出库成功")
					top.location.reload(); 
				}else{
					alert("确认出库失败")
				}
			}
		})
    }
</script>