<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Megarden点位订货制单</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<style>
			
		</style>
	</head>
	<body>
	<a href="{:url('index/order/index')}">制单页</a><br>
	<a href="{:url('index/order/add')}">库存页</a><br>
	<a href="{:url('index/order/warehouse')}">仓库页</a><br>
	<a href="{:url('index/order/order')}">确认订单页</a><br>
		<h3>新增仓库</h3>
		<form action="{:url('index/order/addwarehouse')}" method="post">
			仓库名称：<input type="text" name="name">
			仓库位置：<input type="text" name="location">
			<button>添加</button>
		</form>
		<table class="table" border="1" cellspacing="0" cellpadding="0" width="80%">
			<caption style="font-size: 24px;">仓库列表</caption>
			<tr>
				<th>仓库ID</th>
				<th>仓库名称</th>
				<th>仓库位置</th>
				<th>创建时间</th>
			</tr>
			{foreach $res as $k=>$v} 
			<tr>
				<td>{$v.warehouse_master_id}</td>
				<td>{$v.warehouse_master_name}</td>
				<td>{$v.warehouse_master_location}</td>
				<td>{$v.create_time}</td>
			</tr>	
			{/foreach}
		</table>
	</body>
</html>
<script>
	
</script>