<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>添加文章</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="../../../../extend/layui/css/layui.css">
        <link href="../../../../public/Megarden.ico" rel="shortcut icon"/>
        <script src="../../../../extend/layui/layui.js"></script>
        <script type="text/javascript" src="../../../../extend/utf8-php/ueditor.config.js"></script>
        <script type="text/javascript" src="../../../../extend/utf8-php/ueditor.all.js"></script>
        <style type="text/css">
            body{
                margin: 0;
                padding: 0;
            }
            .head{
                margin: 20px auto;
                text-align: center;
            }
            #container{
                width: 414px;
                height: 600px;
            }
            .add{
                width: 828px;
                margin: 0px auto;
            }
            .add_left{
                width: 400px;
                float: right;
            }
            .add_right{
                width: 400px;
                float: left;
            }
            .layui-form-item{
                margin-top: 30px;
            }
        </style>
    </head>
    
    <body>
       <div class="out">
            <div class="head">
                <h1 class="site-h1">Megarden鲜花服务号花材养护添加文章</h1>
            </div>
            <form class="layui-form" action="" method="post">
            <div class="add">
                <div class="add_right">
                    <script id="container" name="content" type="text/plain"></script>
                </div>
                <div class="add_left">
                    <div class="layui-form-item">
                        <label class="layui-form-label">文章标题</label>
                        <div class="layui-input-inline">
                            <input type="text" id="title" name="title" required  lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文章作者</label>
                        <div class="layui-input-inline">
                            <input type="text" id="author" name="author" required  lay-verify="required" placeholder="请输入文章作者" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">关键文字</label>
                        <div class="layui-input-inline">
                            <input type="text" id="key" name="key" required  lay-verify="required" placeholder="请输入搜索关键字" autocomplete="off" class="layui-input">
                            <div class="layui-form-mid layui-word-aux">多个关键字用'，'隔开</div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">缩略图片</label>
                        <button type="button" class="layui-btn" id="test1">
                          <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo" id="btn" type="button">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
       </div>
    </body>
    <script type="text/javascript">
        var ue = UE.getEditor('container');
        
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            var uploadInst = upload.render({
                elem: '#test1',
                data: {
                    title: function(){
                        return document.getElementById("title").value
                    },
                    author: function(){
                        return document.getElementById("author").value
                    },
                    keyword: function(){
                        return document.getElementById("key").value
                    },
                    content: function(){
                        var html
                        ue.ready(function() {
                            html = ue.getContent()
                        });
                        return html
                    }
                },
                url: "{:url('admin/Article/add')}",
                auto: false,
                bindAction: '#btn',
                before: function(obj){ 
                    var html
                    ue.ready(function() {
                        html = ue.getContent()
                    });
                    if(html==''){
                        layer.msg('内容不能为空', function(){
                        
                        });
                        throw new Error();
                    }
                    if(document.getElementById("title").value==''){
                        layer.msg('文章标题不能为空', function(){
                        
                        });
                       throw new Error();
                    }
                    if(document.getElementById("author").value==''){
                        layer.msg('文章作者不能为空', function(){
                        
                        });
                       throw new Error();
                    }
                    if(document.getElementById("key").value==''){
                        layer.msg('关键文字不能为空', function(){
                        
                        });
                       throw new Error();
                    }

                    document.getElementById("btn").disabled = true; 
                },
                done: function(res){
                    if(res.code==200){
                        alert(res.message)
                        window.history.go(0)
                    }else{
                        document.getElementById("btn").disabled = false;
                        alert(res.message)
                    }
                },
                error: function(){
                    //请求异常回调
                }
            });
        });

    </script>
    <script>
        layui.use('form', function(){
          var form = layui.form;
          
          //监听提交
          form.on('submit(formDemo)', function(data){
            if(data.field.file==''){
                layer.msg('请上传缩略图片', function(){
                        
                }); 
            }
            return false;
          });
        });
    </script>
</html>