<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>文章列表</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../../../../public/Megarden.ico" rel="shortcut icon"/>
        <link rel="stylesheet" href="../../../../extend/layui/css/layui.css">
        <script src="../../../../extend/layui/layui.js"></script>
        <script src="../../../../extend/layui/layui.all.js"></script>
    </head>
    <table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>标题</th>
      <th>缩略图</th>
      <th>作者</th>
      <th>状态</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    {volist name='list' id='article'}
    <tr>
      <td><?php echo $article['title'];?></td>
      <td>
        <?php
            if ($article['thumb'] != '') {
              echo "<img width='35' height='35' src=" . 'http://' . $_SERVER['HTTP_HOST'] . '/' . $article['thumb'] . ">";
            }
          ?>
      </td>
      <td><?php echo $article['author'];?></td>
      <td>
        <?php 
          if($article['status']==1){
            echo "待发布";
          }else{
            echo "已发布";
          }
        ?>
      </td>
      <td><?php echo $article['add_time'];?></td>
      <td>
          <a href="javascript:void(0);" onclick="fun(<?php echo $article['art_id'];?>)" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-search"></i>查看</a>
          <a href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . '/index.php/admin/article/edit?id=' . $article['art_id'];?>" class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <?php if($article['status']==1){ ?>
          <a href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . '/index.php/admin/article/send?id=' . $article['art_id'];?>" class="layui-btn layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon"></i>发布</a>
          <?php }?>
          <a onclick="return confirm(`确定删除吗？`)" href="{:url('admin/article/del', ['id'=>$article['art_id']])}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </td>
    </tr>
    {/volist}
  </tbody>
</table>
 <center>
    {$list|raw}
   </center> 
    <body>
       
    </body>
    <script type="text/javascript">
      function fun(data){
        var str = "<?php echo 'http://' . $_SERVER['HTTP_HOST'] . '/index.php/index/index/detail/id/';?>" + data.toString() + '.html'
        console.log(str)
        layer.open({
          type: 2, 
          title: "文章详情",
          area: ['414px', '736px'],
          content: str
        }); 
      }
    </script>
</html>